<div
  class="grid grid-cols-1 space-y-4 sm:grid-cols-2 sm:space-y-0 sm:space-x-4"
>
  <div
    class="
      divide-y divide-gray-200 overflow-hidden rounded-lg bg-white border
      border-neutral-200
    "
  >
    <div class="p-4 sm:px-6 bg-orange-100">
      <strong>New Accounts</strong>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <% @new_accounts&.each do |account| %>
        <%= account.name %>
      <% end %>
    </div>
  </div>

  <div
    class="
      divide-y divide-gray-200 overflow-hidden rounded-lg bg-white border
      border-neutral-200
    "
  >
    <div class="p-4 sm:px-6 bg-orange-100">
      <strong>Active Sessions</strong>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <% @active_sessions&.each do |user| %>
        <%= user.email %>
        -
        <%= user.sessions.last.created_at %><br/>
      <% end %>
    </div>
  </div>
</div>
