<div class="grid grid-cols-1 space-y-4 sm:grid-cols-2 sm:space-y-0 sm:space-x-4">
  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white border border-neutral-200">
    <div class="p-4 sm:px-6 bg-green-100">
      <strong><%= link_to "Users", users_path %></strong>
    </div>

    <div class="px-4 py-5 sm:px-6">
      <%= button_to "Invite User", new_invitation_path, method: :get, class: "btn-primary-sm" %>

      <div class="pt-4">
        <% @new_users&.each do |user| %>
          <%= link_to user.email, edit_user_path(user.id) %></br>
        <% end %>
      </div>
    </div>
  </div>
</div>
