<div id="<%= dom_id large_group %>">
  <h1><%= large_group.name %></h1>

  <div class="grid grid-cols-1 sm:grid-cols-4 space-y-4 sm:space-y-0 pt-6">
    <div class="sm:col-span-2">
      <strong class="block font-medium mb-1">Organization</strong>
      <%= large_group.organization.name %>
    </div>

    <div class="sm:col-span-2">
      <strong class="block font-medium mb-1">Classification</strong>
      <%= large_group.large_group_class.name %>
    </div>
  </div>
</div>
