<div class="wide-form-container" id="edit_<%= dom_id @large_group %>">
  <h1>Editing large ensemble</h1>

  <%= render "form",
  large_group: @large_group,
  large_group_classes: @large_group_classes,
  submit_text: "Update Large Ensemble" %>
</div>
