<div class="wide-form-container" id="new_contest">
  <h1>New Large Ensemble</h1>

  <%= render "form",
  large_group: @large_group,
  large_group_classes: @large_group_classes,
  submit_text: "Create Large Ensemble" %>
</div>
