<div id="<%= dom_id school %>">
  <h1><%= school.name %></h1>

  <div class="grid grid-cols-1 sm:grid-cols-4 space-y-4 pt-6">
    <div class="sm:col-span-2">
      <strong class="block font-medium mb-1">School Class</strong>
      <%= school.school_class.name %>
    </div>
  </div>
</div>
