<div class="py-8" id="show_<%= dom_id @school %>">
  <%= render @school %>

  <% if current_user.account_admin? %>
    <div class="form-button-container">
      <%= link_to "Edit", edit_organizations_school_path(@school), class: "btn-secondary" %>
      <%= button_to "Delete",
      organizations_school_path(@school),
      method: :delete,
      class: "btn-danger",
      form: {
        data: {
          turbo_confirm: "Are you sure?",
        },
      } %>
    </div>
  <% end %>
</div>
