<%= turbo_frame_tag "schedule_day_content" do %>
  <div class="tabs">
    <% schedule&.days.each do |day| %>
      <%= link_to day.schedule_date.strftime("%a %-m/%d"),
      schedule_day_path(schedule, day),
      class: "tab-button #{selected_day == day ? "active" : ""}",
      data: {
        turbo_frame: "schedule_day_content",
      } %>
    <% end %>
  </div>

  <div
    class="
      bg-white rounded-r-lg rounded-b-lg border overflow-hidden -mt-px
      border-neutral-300 pt-1
    "
  >
    <%= render partial: "schedules/days/day", locals: { day: selected_day } %>

    <% if schedule&.days.length == 0 %>
      <div class="text-center py-6">
        <svg
          class="mx-auto size-12 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
          />
        </svg>
        <h3 class="mt-2 text-sm font-semibold text-gray-900">No schedule</h3>
        <p class="mt-1 text-sm text-gray-500">A schedule has not been published for this contest</p>
      </div>
    <% end %>
  </div>
<% end %>
