<div id="<%= dom_id contest %>">
  <h1 class="mr-14"><%= contest.name %></h1>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">Start:</strong>
    <%= contest.contest_start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End:</strong>
    <%= contest.contest_end %>
  </p>
</div>
