<ul role="list" class="divide-y divide-gray-100">
  <li class="flex items-center justify-between gap-x-6 py-5">
    <div class="min-w-0">
      <div class="flex items-start gap-x-3">
        <p class="font-semibold text-gray-900"><%= contest.contest_start&.strftime("%A %-m/%d/%Y") %></p>
      </div>

      <div class="mt-1 gap-x-2 text-xs/5 text-gray-500">
        <%= contest.start_time&.strftime("%l:%M %p") %>
        -
        <%= contest.end_time&.strftime("%l:%M %p") %>
      </div>
    </div>

    <div class="hidden flex flex-none items-center gap-x-4">
      <%= link_to "View Schedule",
      new_contest_entry_path(contest_id: contest.id),
      class: "btn-primary-sm" %>
    </div>
  </li>
</ul>
