<% content_for :title, "Contests" %>
<div class="py-8 space-y-4" id="contests">
  <div class="flex justify-between">
    <h1>Contests</h1>

    <% if current_user.admin? %>
      <div class="flex gap-2">
        <%= link_to "New Contest", new_contest_path, class: "btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="hidden pt-4">
    <%= render partial: "search" %>
  </div>

  <div
    id="contest_list"
    class="px-4 rounded-md bg-white border border-neutral-200 shadow-sm"
  >
    <% if @contests.empty? %>
      <p class="text-center">No contests found.</p>
    <% else %>
      <%= render "list", locals: { contests: @contests } %>
    <% end %>
  </div>
</div>
