<div class="wide-form-container" id="edit_<%= dom_id @large_ensemble %>">
  <h1>Editing large ensemble</h1>

  <%= render "form",
  large_ensemble: @large_ensemble,
  performance_classes: @performance_classes,
  submit_text: "Update Large Ensemble" %>
</div>
