<%= render "shared/entity_detail",
      entity: @large_ensemble,
      title: @large_ensemble.name,
      entity_partial: "roster/large_ensembles/large_ensemble",
      actions: (capture do %>
        <% if current_user.conducted_ensembles.exists?(id: @large_ensemble.id) %>
          <%= link_to "Edit",
          edit_roster_large_ensemble_path(@large_ensemble),
          class: "btn-primary-sm" %>

          <%= button_to "Delete",
          roster_large_ensemble_path(@large_ensemble),
          method: :delete,
          class: "btn-danger-sm",
          form: {
            data: {
              turbo_confirm: "Are you sure?",
            },
          } %>
        <% end %>
      <% end) do %>
<% end %>

  <%= render "contests" %>
</div>
