<% content_for :title, "Roster" %>
<div class="py-8 space-y-4">
  <div class="flex justify-between">
    <h1>Roster</h1>
  </div>

  <div>
    <%= link_to sanitize("Large Ensembles &rarr;"), roster_large_ensembles_path %>
  </div>
</div>
