<%= turbo_frame_tag "schedule_room_content" do %>
  <div class="wide-form-container" id="edit_<%= dom_id @room %>">
    <h2>Editing room</h2>

    <%= render "form", room: @room, submit_text: "Save" %>
  </div>
<% end %>
