<% content_for :title, "Users" %>
<div class="py-8 space-y-4">
  <div class="flex justify-between">
    <h1>Users</h1>
    <div class="flex gap-2">
      <%= link_to "Invite user", new_invitation_path, class: "btn-primary-sm" %>
    </div>
  </div>

  <%= render partial: "search" %>

  <div
    id="user_list"
    class="rounded-md bg-white border border-neutral-200 shadow-2xs"
  >
    <% if @users.empty? %>
      <div class="p-6 text-center text-gray-500">
        <p>No users found.</p>
      </div>
    <% else %>
      <%= render partial: "list" %>
    <% end %>
  </div>
</div>
