<% content_for :title, "Edit Contest Season" %>
<div class="py-8" id="edit_<%= dom_id @contest_season %>">
  <h1>Edit Contest Season</h1>

  <%= render "form", contest_season: @contest_season %>
</div>
