<div class="py-8" data-controller="schedule-setup">
  <%= link_to sanitize("&larr; Back to Schedule"), contest_schedules_path %>

  <h1 class="mt-4">Schedule Setup</h1>

  <%= turbo_frame_tag "schedule_room_content" do %>
    <div class="pt-8">
      <%= render partial: "schedules/rooms/room_list", locals: { rooms: @schedule.rooms } %>
    </div>

    <div class="py-8">
      <%= render partial: "schedules/performance_sequences/summary",
      locals: {
        performance_sequence: @schedule.performance_sequence,
      } %>
    </div>
  <% end %>
</div>
