<div class="space-y-4">
  <%= render "home/dashboards/sysadmin" if Current.user.sysadmin? %>
  <%= render "home/dashboards/tenant_admin" if Current.user.tenant_admin? %>
  <%= render "home/dashboards/director" if Current.user.director? %>
</div>
