<div class="wide-form-container" id="new_user_invite">
  <h1>Send invitation</h1>

  <%= render "users/form",
  url: invitation_path,
  user: @user,
  roles: @roles,
  organizations: @organizations,
  submit_text: "Send Invitation" %>
</div>
