<div id="edit_<%= dom_id @user %>" class="simple-form-container">
  <div>
    <%= link_to sanitize("&larr; Back"), settings_path %>
  </div>

  <h1>My profile</h1>
  <%= render "form", user: @user %>
</div>
