<div id="<%= dom_id contest_entry %>">
  <%= render partial: "roster/large_ensembles/large_ensemble",
  locals: {
    large_ensemble: contest_entry.large_ensemble,
  } %>

  <%= render "music_selections" %>
</div>
