<div class="wide-form-container" id="new_contest_entry" data-controller="focus-manager">
  <a href="#contest_entry_form" class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 bg-blue-600 text-white px-3 py-2 rounded">
    Skip to registration form
  </a>
  <h1>New Contest Entry</h1>

  <p>
    <span class="block text-xl font-bold"><%= @contest.name %></span>
    <span class="block"><%= @contest.contest_start.strftime("%A %-m/%d/%Y") %></span>
  </p>

  <%= render "form", contest_entry: @contest_entry %>
</div>
