<div id="<%= dom_id organization %>">
  <h1><%= organization.name %></h1>

  <div class="grid grid-cols-1 sm:grid-cols-4 space-y-4 pt-6">
    <div class="sm:col-span-4">
      <strong class="block font-medium mb-1">Name</strong>
      <%= organization.name %>
    </div>

    <div class="sm:col-span-2">
      <strong class="block font-medium mb-1">Organization Type</strong>
      <%= organization.organization_type.name %>
    </div>
  </div>
</div>
