<% content_for :title, "Schools" %>
<div class="py-8 space-y-4">
  <div class="flex justify-between">
    <h1>Schools</h1>
  </div>

  <div>
    <%= link_to sanitize("Schools &rarr;"), organizations_schools_path %>
  </div>
</div>
