<% content_for :title, "Schools" %>
<div class="py-8 space-y-4">
  <div class="flex justify-between">
    <h1>Organizations</h1>
  </div>

  <%= link_to organizations_schools_path, class: "group inline-flex items-center gap-2 text-gray-900 transition-all duration-150 hover:font-bold" do %>
    <span>Schools</span>
    <svg class="size-4 text-gray-400 opacity-0 group-hover:opacity-100 transition-opacity duration-150" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L12.94 10 8.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
    </svg>
  <% end %>
</div>
