<%= turbo_frame_tag "contest_phase_content" do %>
  <div class="mx-auto mt-4 max-w-xl">
    <div>
      <div class="text-center">
        <h2 class="mt-2 text-base font-semibold text-gray-900">Set up performance phases</h2>
        <p class="mt-1 text-sm text-gray-500">E.g., warm up, prepared performance, sight reading.</p>
      </div>
    </div>
  </div>

  <%= render "form" %>
<% end %>
