<%= turbo_frame_tag "contest_phase_content" do %>
  <div class="mx-auto mt-4 max-w-xl">
    <div>
      <div class="text-center">
        <svg
          class="mx-auto size-12 text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z"
          />
        </svg>
        <h2 class="mt-2 text-base font-semibold text-gray-900">Set up performance phases</h2>
        <p class="mt-1 text-sm text-gray-500">E.g., warm up, prepared performance, sight reading.</p>
      </div>
    </div>
  </div>

  <%= render "form" %>
<% end %>
