<% if breadcrumbs.length > 0 %>
  <%= render "shared/breadcrumbs" %>
<% end %>

<%= yield %>

<div
  id="notifications"
  class="fixed bottom-0 right-0 flex flex-col items-end space-y-4 p-4"
>
  <% flash.each do |type, message| %>
    <%= render "shared/notification", type: type, message: message %>
  <% end %>
</div>
