<div id="<%= dom_id contest_group %>">
  <h1><%= contest_group.name %></h1>

  <div class="grid grid-cols-1 sm:grid-cols-4 space-y-4 sm:space-y-0 pt-6">
    <div class="sm:col-span-2">
      <strong class="block font-medium mb-1">Group Class</strong>
      <%= contest_group.contest_group_class.name %>
    </div>

    <div class="sm:col-span-2">
      <strong class="block font-medium mb-1">Organization</strong>
      <%= contest_group.organization.name %>
    </div>
  </div>
</div>
