<div class="wide-form-container" id="edit_<%= dom_id @contest_group %>">
  <h1>Editing contest group</h1>

  <%= render "form",
  contest_group: @contest_group,
  contest_group_classes: @contest_group_classes,
  submit_text: "Update Contest Group" %>
</div>
