<% content_for :title, "Contest Groups" %>
<div id="contest_groups">
  <div class="flex justify-between items-center">
    <h1>Contest Groups</h1>
  </div>

  <div class="p-4">
    <%# render partial: "search" %>
  </div>

  <div
    id="contest_group_list"
    class="px-4 rounded-md bg-white border border-neutral-200 shadow-sm"
  >
    <%= render partial: "table" %>
  </div>
</div>
