<div class="wide-form-container" id="new_contest">
  <h1>New Contest Group</h1>

  <%= render "form",
  contest_group: @contest_group,
  contest_group_classes: @contest_group_classes,
  submit_text: "Create Contest Group" %>
</div>
