<div class="py-8" id="show_<%= dom_id @contest_group %>">
  <%= render @contest_group %>

  <% if current_user.director? || current_user.admin? %>
    <div class="form-button-container">
      <%= link_to "Edit", edit_contest_group_path(@contest_group), class: "btn-secondary" %>
      <%= button_to "Delete",
      @contest_group,
      method: :delete,
      class: "btn-danger",
      form: {
        data: {
          turbo_confirm: "Are you sure?",
        },
      } %>
    </div>
  <% end %>
</div>
